%define-height{
    height: 100%;
}
%define-padding{
    padding: 20px 25px 25px;
}
%define-box{
    width: 100%;
    background-color: #ffffff;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #f3f3f5;
    margin: 0;
    color: #383838;
    font-family: Georgia;
    font-size: 15px;
}
h3{
    font-weight: bold;
    text-align: center;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-10{
    margin-top: 10px;
}
.conteudo{
    display: table;
    width: 100%;
    @extend %define-height;
    .header{
        width: 100%;
        background: url(../img/background.png) repeat-x center top;
        position: relative;
        height: 636px;
        .logo{
            max-width: 768px;
            display: block;
            margin: auto;
            padding: 300px 30px 60px;
            position: relative;
            transition: .8s;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.menu{
    margin-bottom: 26px;
    transition: background .3s;
    top: -50px;
    .menu-toggle{
        display: none;
        @media screen and (max-width: 1128px){
            display: block;
            position: absolute;
            color: #383838;
        }
    }
    .listaMenu{
        float: left;
        overflow: hidden;
        width: 694.47px;
        ul{
            list-style: none;
            margin: 0 auto;
            padding: 0;
            @media screen and (max-width: 1128px){
                text-align: center;
            }
            li{
                display: inline-block;
                font: 11px Lato;
                margin-right: 30px;
                padding: 11px 0px 11px 0px;
                //border-bottom: 1px solid #383838;
                @media screen and (max-width: 1128px){
                    display: block;
                    border-top: 1px solid #d9b4c6;
                    border-bottom: none;
                    margin-right: 0;
                }
                &:hover{
                    //border-bottom: 1px solid #d9b4c6; 
                    @media screen and (max-width: 1128px){
                        border-top: 1px solid #d9b4c6;
                    }
                }
                a{
                    color: #383838;
                    vertical-align: middle;
                    i{
                        margin-right: 5px;
                        color: #d9b4c6;
                    }
                    &:hover{
                        color: #d9b4c6;
                        text-decoration: none;
                    }
                }
            }
        }
        @media screen and (max-width: 1128px){
            width: 100%;
            padding-top: 35px;
            border-bottom: 1px solid #d9b4c6;
            float: none;
            display: none;
        }
    }

}
.search{
    float: left;
    width: 384px;
    @media screen and (max-width: 1128px){
        position: absolute;
        top: 0;
        right: 25px;
    }
    .buscar{
        width: 85%;
        text-transform: uppercase;
        letter-spacing: 2px;
        font: 11px Lato;
        color: #383838;
        float: left;
        border: 0;
        outline: none;
        margin: 0;
        padding: 0;
        background: transparent;
        padding-top: 11px;
        padding-bottom: 11px;
        //border-bottom: 1px solid #383838;
        @media screen and (max-width: 1128px){
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    .buttonSearch{
        font: 11px Lato;
        color: #383838;
        width: 10%;
        cursor: pointer;
        float: right;
        transition: .5s;
        border: 0;
        outline: none;
        margin: 0;
        padding: 0;
        background: transparent;
        padding-top: 11px;
        padding-bottom: 11px;
        //border-bottom: 1px solid #383838;
        @media screen and (max-width: 1128px){
            padding-top: 5px;
            padding-bottom: 5px;
        }
        &:hover{
            color: #d9b4c6;
            //border-bottom: 1px solid #d9b4c6;
        }
    }
}
.content-menu{
    max-width: 1100px;
    margin: auto;
    padding: 0 25px;
    position: relative;
    box-sizing: content-box;
    
}

.fixed{
    background: rgba(255, 255, 255, 0.97);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 5px 0 5px;
    z-index: 999;
    transition: .5s;
    @media screen and (max-width: 1128px){
        min-height: 31px;
    }
}

.wrapper{
    max-width: 1100px;
    margin: auto;
    padding: 0 25px;
    position: relative;
    box-sizing: content-box;
    margin-top: 60px;
    margin-bottom: 30px;
}

.col-xs-12{
    margin-bottom: 20px;
}

.dicas{
    max-height: 220px;
    height: 220px;
    padding: 10px;
    .link-dicas{
        bottom: 0;
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 99;
    }
    .titulo-dicas{
        border: 1px solid #ffffff;
        width: 100%;
        height: 100%;
        vertical-align: baseline;
        span{
            background-color: rgba(255, 255, 255, 0.9);
            color: #000;
            display: inline-block;
            font-size: 11px;
            left: 50%;
            letter-spacing: 2px;
            line-height: 18px;
            max-width: 80%;
            padding: 8px 12px 7px 14px;
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            -webkit-transform: translateY(-50%) translateX(-50%);
            -moz-transform: translateY(-50%) translateX(-50%);
            -o-transform: translateY(-50%) translateX(-50%);
            -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
            text-align: center;
        }
    }
}
.ferias{
    background-image: url(../img/ferias.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
.ti{
    background-image: url(../img/ti.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
.romance{
    background-image: url(../img/romance.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}

.autoajuda{
    background-image: url(../img/autoajuda.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
.lancamentos{
    width: 100%;
    border-top: 3px solid #383838;
    .heightLancamentos{
        min-height: 485px;
        max-height: 485px;
        overflow: hidden;
        padding-right: 0;
    }
    h3{
        background-color: #f3f3f5;
        display: inline;
        float: left;
        padding: 0 10px 0 0;
        margin-top: -18px;
        
    }
    img{
        width: 100%;
        max-height: 300px;
    }
    .informacoesLancamentos{
        h2{
            margin: 0;
        }
        @extend %define-box;
        @extend %define-padding;
    }
}
.padding-left-0{
    padding-left: 0; 
}
.position-relative-novidades{
    position:relative;
}
.novidades{
    @extend %define-box;
    padding: 10px;
    min-height: 485px;
    max-height: 485px;
    overflow: hidden;
    position: relative;
    .eachBoxNovidades{
        border-bottom: 1px solid #f3f3f5;
        position: relative;
        width: 100%;
        padding-bottom: 15px;
        display: table;
        height: auto;
        .fotoNovidades{
            width: 20%;
            float: left;
            display: table-row;
            img{
                width: 100%;
            }
        }
        
        .content-novidades{
            width: 80%;
            float: left;
            display: table-row;
            padding-left: 10px;
            p{
                text-align: left;
            }
        }
    }
    
}
.sobre-mim{
    @extend %define-box;
    
    .sobre-mim-header{
        height: 115px;
        background-color: #FFB6C1;
    }
    .foto-perfil{
        margin-top: -100px;
        margin-left: auto;
        
    }
    .myFoto{
        position: relative;
        z-index: 1;
        border-radius: 50%;
        max-width: 230px !important;
        min-height: 230px !important;
        display: block;
        margin: auto;
    }
    .sobre-mim-descricao{
        @extend %define-padding;
        padding-bottom: 15px;
        p{
            text-align: center;
        }
        
    }
    .sobre-mim-redes{
        @extend %define-padding;
        padding-top: 7px;
        ul{
            list-style: none;
            display: block;
            width: 60%;
            padding: 0;
            text-align: center;
            margin: auto;
            li{
                display: inline-block;
                margin-right: 15px;
                a{
                    color: #383838;
                    font-size: 25px;
                    cursor: pointer;
                    &:hover{
                        color: #d9b4c6;
                    }
                }
            }
        }
    }
}
.categorias{
    @extend %define-box;
    @extend %define-padding;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #383838;
        li{
            display: block;
            width: 100%;
            padding: 15px;
            font-weight: bold;
            background-color: #FFB6C1;
            text-align: center;
            border-top: 1px solid #383838;
            a{
                color: #383838;
                cursor: pointer;
                &:hover{
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }
}

.ultimas-resenhas{
    @extend %define-box;
    @extend %define-padding;
    min-height: 430px;
    height: auto;
    position: relative;
    .imgPostHome{
        width: 30%;
        height: 96px;
        float: left;
        margin-right: 5%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .descricaoPostHome{
        width: 55%;
        height: 96px;
        float: left;
        display:table; 
        p{
            top: 50%;
            display: table-cell;
            vertical-align: middle;
            span{
                display:block;
                top: -50%;
                text-align: left;
            }
        }
    }
}